<div class="custom-mod-1 col-md-3">
    <img src="https://lh3.googleusercontent.com/-NsWPM1M2m9g/AAAAAAAAAAI/AAAAAAAACOw/HO_lO-iLvWI/s120-c/photo.jpg" class="col-lg-5 img-circle center-block"/>
    <p> Some Random ContentSome Random ContentSome Random ContentSome Random Content
        Some Random ContentSome Random ContentSome Random ContentSome Random Content
        Some Random ContentSome Random ContentSome Random ContentSome Random Content
        Some Random ContentSome Random ContentSome Random ContentSome Random Content
        Some Random ContentSome Random ContentSome Random ContentSome Random ContentSome Random ContentSome Random ContentSome Random ContentSome Random ContentSome Random ContentSome Random ContentSome Random ContentSome Random Content


    </p>
</div>